.titulo-feedback {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}

.feedbacks{
    display: flex;
    position: relative;
    overflow: hidden;
    height: 280px;
    align-items: center;
    justify-content: center;
} 

.feedback-container {
    display: flex;
    position: relative;
    width: 68%;
    transition: translateX 0.5s ease;
}

.feedback {
    min-width: 100%;
    transition: transform 1s ease;
    text-align: center;
    padding: 20px;
    transform: scale(1.1); 
    transition: transform 0.5s ease; 
    /* background: #795a5a; */ 
    background-color: #bcd9e5; 

    color: black;
}

.feedback:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.feedback.active {
    opacity: 1;
    position: relative;
    color: black;
}

.seta {
    background: transparent;
    border: none;
    color: black;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2; 
}

.seta.esquerda {
    position: absolute;
    left: 10px;
}

.seta.direita {
    position: absolute;
    right: 10px;
}