.footer {
  margin-top: 7rem;
  text-align: center;
  color: var(--cor-texto-claro);
}

.footer .container {
  padding: 5rem 0;
}

.footer h2 {
  font-family: var(--fonte-secundaria);
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--cor-primaria);
}

.footer .redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 25px;
}

.text-footer {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 8rem;
  padding: 7px;
  color: #666666;
}