.home {
  background: linear-gradient(145deg,  #e0f7fa, #ffffff);
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.home .full-screen {
    padding: 50px 0;
    margin-top: 40px;
    min-height: 50vh; 
    background-color: #ffffff;
}

.home .texto-home {
   
    /*grid-area: texto-home;*/
    /* background-color: #eac9fa; */
    position: relative;
    /* width: 50vh;
    height: 50vh;  */
    color: 		#222222;
     /* height: 69vh; */
    letter-spacing: 2px;
}

.redes-sociais {
  display: flex;
  gap: 20px;
}


.redes-sociais a:hover {
  /* background-color: var(--cor-branca);
  color: var(--cor-primaria); */
  transform: scale(1.3)
  /* box-shadow: 0 0 8px var(--cor-branca); */
}

.home .texto-home, .home .img-home {
    flex: 0 0 50%;
    /* ocupa 50% do tamanho e não faz grow nem shrink */
    max-width: 50%;
    padding: 0 15px;
}

.img-home:hover {
  transform: scale(1.04);
  transition: .2s ease;
}

@media(max-width: 900px) {
    .home .texto-home {
        flex: 0 0 1000%;
        max-width: 100%;
        text-align: center;
        /* background-color: rgb(138, 178, 197); */
      height: 40vh; 
        padding: 0 var(--mobile-padding);
    }
    .home .img-home {
        flex: 0 0 1000%;
        margin-top: 50px;
        max-width: 80%;
        margin: 40px;
        
    }
}

.home .img-home .img-box {
    max-width: 450px;
    margin: auto;
    border-radius: 70%;
}

/* .home .img-home .img-box {
     box-shadow: inset 10px 10px 2px #31cce0, inset -20px -20px 10px #022d41;
  } */

.home .img-home .img-box img {
   /*  width: 100%;
    border-radius: 20%;
    /* border: 10px solid transparent; 
      box-shadow: 30px 10px 3px #230233, -30px -9px 3px #57041f; 
     box-shadow: 0 5px 15px rgba(2, 104, 115, 0.3);  */

     /* flex: 0 1 320px; */
  background: rgba(125, 207, 196, 0.15);
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(100, 8, 247, 0.699);
  transition: transform 0.3s ease;
  max-width: 350px; 
}



.home .texto-home p {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    /* margin-bottom: 10px; */
    margin: 30px 0px;
    
  
}

.home .texto-home h1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-gigante);
    font-weight: 700;
    margin-bottom: 20px;
    
}

.home .texto-home h2 {
    font-family: var(--fonte-secundaria);
    font-size: 2.8rem;
    /* letter-spacing: 2px; */
    margin-bottom: 30px;
  font-weight: 600;
  /* margin-bottom: 2rem; */
  font-style: italic;
  color: #12364b;
}