@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  font-size: var(--fonte-normal);
  background-color: var(--white);
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* ESTILIZAÇÃO DO SCROLL NO TEXTO DE HABILIDADES E SOBRE MIM */
.reveal {
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: all 0.5s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(50px);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--cor-secundaria);
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 0.4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.redes-sociais a i {
  line-height: 40px;
}

.redes-sociais a:hover {
  background-color: var(--cor-destaque);
}

.outer-shadow {
  box-shadow: 0 2px 6px #bcd9e5;
}

.inner-shadow {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1), inset -3px -3px 3px rgba(0, 0, 0, 0.05);
}

.section {
  padding: 6rem 0;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  font-weight: 500;
  text-transform: uppercase;
}

.botao {
  color: #000;
  background-color: var(--cor-primaria);
  color: white;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}